{% extends "base/base.html" %}
{% load static %}

{% block title %} Lista de Mascota {% endblock title %}

{% block css %}
{{ block.super }}

<style>

  .text_align_center {
    text-align-last: center;
}

.card-pets:hover {
    box-shadow: 0px 0px 10px 5px #a6a6a6;
    /* please set the shadow color conveniently */
}

.card-pets {
    border-radius: 10px !important;
}

.card-img-div {
    background-color: #278094eb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rd-card-img {
    height: 8rem;
    width: 8rem;
    border-radius: 4rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(52, 73, 94, 0.44);
    background: #fff;
    padding: 4px;
}

.edit-property {
    font-size: 18px;
    margin-right: 7px;
    position: relative;
    margin-top: .5rem;
    color: #ffff;
}

/*.dropdown-item {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

a.dropdown-item {
    color: #45474a;
    padding: 0rem .5rem;
}

a.dropdown-item:hover {
    background: rgba(0, 0, 0, .1);
}*/

.card-option {
    background-color: #fff;
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    width: 8.5rem;
    height: auto;
    border-radius: 5px;
    -webkit-box-shadow: -1px 3px 19px -2px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: -1px 3px 19px -2px rgba(0, 0, 0, 0.72);
    box-shadow: -1px 3px 19px -2px rgba(0, 0, 0, 0.72);
}
</style>
{% endblock css %}

{% block content %}
 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Lista de Mascota
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Mascotas</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
   <!-- Main content -->
   <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">            
            <div class="card-header">
              <div class="float-left">
                <form action="{% url 'mascota:search_mascota' %}" method="GET">
                  <div class="input-group">
                      <input type="search" class="form-control form-control-lg" id="searchTerm"  
                      data-toggle="tooltip" data-placement="top"
                      title="Buscar por nombre mascota, nombre o apellido cliente"
                      name="q" value="{{ request.GET.q }}"
                      placeholder="Buscar"/>
                      {% include 'base/partials/info_search.html' %}
                      <div class="input-group-append">
                          <button type="submit" id="busqueda" class="btn btn-lg btn-default">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
              </form>                  
              </div>
              <div class="float-right">
                {% if perms.mascota.add_mascota %}
                <button type="submit" class="btn btn-primary float-right">
                    <a style="color: white;" href="{% url 'mascota:add_mascota' %}">Agregar nueva mascota</a>
                </button>
            {% endif %}
              </div>
            </div>
            <!-- /.card-header -->
              <!-- Default box -->
              <div >
                <div class="card-body" style="display: flex; flex-wrap: wrap">

                  {% for mascota in page_obj %}
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                      <div class="card card-pets">
                          <div class="card-img-div text_align_center">
  
                              <div class="">
                                  <img class="card-img-top rd-card-img" src="{{ mascota.get_profile}} "
                                      alt="pets profile image"
                                      style="margin-top: .5rem; margin-bottom: .5rem; margin-left: 7px;">
                              </div>
  
                          </div>
                          <h5 class="text_align_center" style="margin-top: .5rem;">{{ mascota.nombre_mascota}}
                          </h5>
                          <div class="card-body card-body-pets p-0" style="margin-top: 6px;">
                              <div class="status m-0">
                                  <p class="text-uppercase text_align_center  m-0">
                                      {{ mascota.id_cliente.nombre_cliente }} {{ mascota.id_cliente.apellido_cliente }} </p>
                              </div>
                              <div class="status m-0">
                                  <p class="text-uppercase text_align_center m-0">{{ mascota.id_raza.id_especie.nombre_especie}}</p>
                              </div>
                              <div class="status m-0">
                                  <p class="text-uppercase text_align_center m-0">{{ mascota.id_raza.nombre_raza }}</p>
                              </div>
                              <div class="status">
                                  <p class="text-uppercase text_align_center">{{ mascota.peso}}</p>
                              </div>
                          </div>
  
                          <div class="d-contents" style="display: contents;">
                              
                              {% if perms.mascota.change_mascota %}
                                  <a class="btn btn-outline-primary ml-3 mr-3 mb-3"
                                  href="{% url 'mascota:edit_mascota' mascota.id %}">Editar Mascota
                              </a>
                              {% endif %}
                                  
                              {% if perms.mascota.view_mascota %}
  
                                  <a class="btn btn-outline-warning ml-3 mr-3 mb-3"
                                    href="{% url 'mascota:edit_ficha_medica' mascota.id %}">Actualizar Ficha
                                      Médica
                                  </a>
                              {% endif %}
  
                          </div>
                      </div>
                  </div>
                  {% empty %}
                  <h2 style="text-align: center;">No se ha a registrado ninguna mascota!</h2>
  
                  {% endfor %}

               
                </div>
                <div class="card-body">
                  {% block pagination %}
                  {% include 'base/partials/pagination.html' %}
                  {% endblock pagination %}
                </div>

              
              </div>
                    <!-- /.card -->
            <!-- /.card-body -->
          </div>                    
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  
<div class="modal fade" id="creacion" role="dialog"> </div>

<div class="modal fade" id="edicion" role="dialog"> </div>

<div class="modal fade" id="eliminacion" role="dialog">

</div>


{% endblock content %}

{% block js_page %}
{{ block.super }}
<!-- Datatables -->
<script>
    $(function () {
        $('input').on("cut copy paste",function(e) {
            e.preventDefault();
        });
        


        {% if messages %}
          {% for message in messages %}
            var text = "{{ message }}";
            add_edit_registro(text);
          {% endfor %}
        {% endif %}
    })
</script>


{% endblock js_page %}