{% extends "base/base.html" %}
{% load static %}

{% block title %} Agregar Usuario{% endblock title %}
{% block stylesheets %}
{{ block.super }}
<link href="{% static 'base/css/select2.min.css' %}" rel="stylesheet">

<style>
    .dataTables_info {
        width: 0 !important;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
        position: initial !important;
    }  
    .select2-container--default .select2-selection--multiple .select2-selection__choice__display { 
      cursor: default; 
      padding-left: 10px important; 
      padding-right: 5px; 
    }
    
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {     
      margin-left: 5px !important;       
  }
</style>
{% endblock stylesheets %}
{% block content %}
 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Agregar Usuario
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'list_usuarios' %}">Usuarios</a></li>
            <li class="breadcrumb-item active">Agregar Usuario</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

    <!-- Main content -->
   <!-- Main content -->
   <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">            
            <!-- /.card-header -->
            <div class="card-body">
                <div class="card card-primary">   
                    <div class="card-header">
                        <h3 class="card-title">Usuario</h3>
                      </div>                
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="" action="{% url 'add_usuario' %}" method="POST">
                    {% csrf_token %}
                      <div class="card-body">
                            <div>
                                {{ form.as_p}}
                            </div>       
                      </div>
                      <!-- /.card-body -->
      
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        <button type="button" class="btn btn-secondary">
                            <a href="{% url 'list_usuarios' %}" style="color: white;">Volver</a>
                        </button>
                      </div>
                    </form>
                  </div>
      
            </div>
            <!-- /.card-body -->
          </div>                    
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.card -->
{% endblock content %}

{% block js_page %}
{{ block.super }}
<!-- validator -->

<script>  
    $(function () {

        $('form input').on("cut copy paste", function (e) {
            e.preventDefault();
        });

        $("#id_username").removeAttr("autofocus")

        $('.group_select').select2({
            placeholder: 'Seleccione los Permisos',
            language: "es",
            multiple: true,       
        });
        
          {% if messages %}
            {% for message in messages %}
                var text = "{{ message }}";
                add_edit_registro(text);
            {% endfor %}
          {% endif %}

        var mensaje_errores = ""
        {% for field in form %}
          {% if field.errors %}              
                {% for error in field.errors %}
                  mensaje_errores += "\n{{ error }}"
                  console.log(mensaje_errores)
                {% endfor %}
          {% endif %}
        {% endfor %}

        if(mensaje_errores !== ""){
          warning_registro(mensaje_errores);
        }
    })

</script>
{% endblock js_page %}