{% extends "base/base.html" %}
{% load static %}

{% block title %} Lista Usuarios de baja {% endblock title %}

{% block stylesheets %}
{{ block.super }}

<style>

</style>
{% endblock stylesheets %}

{% block content %}
 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Lista de usuarios de baja
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'list_usuarios' %}">Usuarios</a></li>
            <li class="breadcrumb-item active">Usuarios de Baja</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
   <!-- Main content -->
   <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">            
            <div class="card-header">
              <div class="float-left">
                <form >
                  <div class="input-group">
                      <input type="search" class="form-control form-control-lg" id="searchTerm"  data-toggle="tooltip" data-placement="top"
                      title="Buscar por nombre, apellido o username"
                      placeholder="Buscar por nombre, apellido o username"/>
                      <div class="input-group-append">
                          <button type="button" id="busqueda" class="btn btn-lg btn-default">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
              </form>                  
              </div>
              <div class="float-right">
                <button type="submit"  class="btn btn-success btn-circle">
                    <a style="color: white;" href="{% url 'list_usuarios' %}">Volver</a>
                </button>             
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="list_usuarios" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Email</th>
                  <th>Username</th>
                  <th>Accion</th>
                </tr>
                </thead>
                <tbody>                   
                </tbody>   
              </table>
            </div>
            <!-- /.card-body -->
          </div>                    
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>


<div class="modal fade" id="edicion" role="dialog">

</div>
{% endblock content %}

{% block js_page %}
{{ block.super }}
<!-- Datatables -->


<script>
    $(function () {

        $('input').on("cut copy paste", function (e) {
            e.preventDefault();
        });        

        var get_list = function (busqueda) {
            $("#list_usuarios").DataTable({
                destroy: true,
                // dom: 'Bfrtip',
                // buttons: [                
                //     {
                //         extend: 'pdfHtml5',
                //         text: 'Exportar PDF',
                //         exportOptions: {
                //             columns: [0,1,2,3]
                //         }
                //     },
                // ],
                searching: false,
                pageLength: 10,
                ajax: {
                    url: "/usuario/list_usuarios_baja_ajax/",
                    type: 'GET',
                    datatype: 'json',
                    data: {'busqueda': busqueda},
                    error: function (data) {
                        $.fn.DataTable.ext.errorMode = 'none'

                    }
                },
                columns: [
                    {
                        name: 'Nombres',
                        data: 'nombre',
                        render: function(data){
                            if(data == ""){
                                return "-"
                            }
                            return data
                        }
                    },
                    {
                        name: 'Apellidos',
                        data: 'apellido',
                        render: function(data){
                            if(data == ""){
                                return "-"
                            }
                            return data
                        }
                    },
                    {
                        name: 'Email',
                        data: 'email',
                        render: function(data){
                            if(data == ""){
                                return "-"
                            }
                            return data
                        }
                    },
                    {
                        name: 'Username',
                        data: 'username',
                    },                               
                    {
                        name: 'Acciones',
                        data: 'id',
                        render: function (data) {
                            var buttons = ""
                                                        
                                buttons += '<button class="btn btn-primary mr-1">\
                                                        <a href="/usuario/altaUsuarios/' + data + '/" style="color: white">\
                                                            Dar de alta\
                                                        </a>\
                                                    </button>';                                                                                  

                            return buttons;
                        }
                    }

                ],
                columnDefs: [{
                    targets: [2,4], // column index (start from 0)
                    orderable: false, // set orderable false for selected columns
                }],
                serverSide: false,
                language: {                    
                    decimal: "",
                    emptyTable: "No hay información",
                    info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    infoEmpty: "Mostrando 0 de 0 Entradas",
                    infoFiltered: "(Filtrado de _MAX_ total entradas)",
                    infoPostFix: "",
                    thousands: ",",
                    lengthMenu: "Mostrar _MENU_ Entradas",
                    loadingRecords: "Cargando...",
                    processing: "Procesando...",
                    search: "Buscar:",
                    zeroRecords: "Sin resultados encontrados",
                    paginate: {
                        first: "Primero",
                        last: "Ultimo",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                },

            })
        }

        var query = ""
        
        get_list(query);

        $("#searchTerm").change(function(){
            var busqueda = $("#searchTerm").val()
            sessionStorage.setItem("busqueda", busqueda)
        })

        $("#busqueda").click(function(){
            var busqueda = sessionStorage.getItem("busqueda")
            if(busqueda == "" || busqueda == undefined || busqueda == null){
                busqueda = "";
                get_list(busqueda)
            }
            else{
                get_list(busqueda)
            }
        })

        {% if messages %}
            {% for message in messages %}
                var text = "{{ message }}";
                add_edit_registro(text);
            {% endfor %}
          {% endif %}
        
    })


</script>


{% endblock js_page %}