{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block css %}
	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'login_static/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_static/vendor/bootstrap/css/bootstrap.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_static/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_static/vendor/animate/animate.css' %} ">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login_static/vendor/css-hamburgers/hamburgers.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_static/vendor/animsition/css/animsition.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_static/vendor/select2/select2.min.css' %} ">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login_static/vendor/daterangepicker/daterangepicker.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_static/css/util.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'login_static/css/main.css' %} ">
<!--===============================================================================================-->
{% endblock css%}
</head>
<body>
	
	<div class="limiter">
		
		{% block login %}
			
		{% endblock login %}
			
	</div>
	

	<div id="dropDownSelect1"></div>
	{% block js_page %} 

<!--===============================================================================================-->
	<script src="{% static 'login_static/vendor/jquery/jquery-3.2.1.min.js' %} "></script>
<!--===============================================================================================-->
	<script src="{% static 'login_static/vendor/animsition/js/animsition.min.js' %} "></script>
<!--===============================================================================================-->
	<script src="{% static 'login_static/vendor/bootstrap/js/popper.js' %} "></script>
	<script src="{% static 'login_static/vendor/bootstrap/js/bootstrap.min.js' %} "></script>
<!--===============================================================================================-->
	<script src="{% static 'login_static/vendor/select2/select2.min.js' %} "></script>
<!--===============================================================================================-->
	<script src="{% static 'login_static/vendor/daterangepicker/moment.min.js' %} "></script>
	<script src="{% static 'login_static/vendor/daterangepicker/daterangepicker.js' %} "></script>
<!--===============================================================================================-->
	<script src="{% static 'login_static/vendor/countdowntime/countdowntime.js' %} "></script>
<!--===============================================================================================-->
	<script src="{% static 'login_static/js/main.js' %} "></script>

    {% endblock js_page %}

</body>
</html>