{% extends "base/base.html" %}
{% load static %}

{% block title %} Ver Factura Venta{% endblock title %}
{% block stylesheets %}
{{ block.super }}
<link href="{% static 'project_static/other/js/select2/select2.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'project_static/other/js/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.css' %}">
<link rel="stylesheet" href="{% static 'project_static/other/js/jquery-ui-themes-1.12.1/jquery-ui-themes-1.12.1/jquery-ui.min.css' %}">
<link href="{% static 'project_static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %} " rel="stylesheet">
<link href="{% static 'project_static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %} " rel="stylesheet">
<link href="{% static 'project_static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'project_static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %} " rel="stylesheet">
<link href="{% static 'project_static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %} " rel="stylesheet">
<style>
    .dataTables_info {
        width: 0 !important;
    }
    #tblFacturaVenta_filter{
        display: none;
    }
</style>
{% endblock stylesheets %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Ver Factura Venta</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Ver Factura</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="tile mb-4">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="card">
                                            <h6 class="card-header">Detalle Factura</h6>
                                            <div class="card-body">                                              
                                                <div class="table-responsive">                                                   
                                                    <table class="table table-bordered" id="tblFacturaVenta"
                                                        style="width: 100%;">
                                                        <thead>
                                                            <tr>
                                                                <td>Cod</td>
                                                                <td>Nombre Producto</td>
                                                                <td>Descripción</td>
                                                                <td>Precio</td>
                                                                <td>Cantidad</td>
                                                                <td>SubTotal</td>
                                                                <td class="d-none">Eliminar</td>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card">
                                            <h6 class="card-header">Factura</h6>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label><strong>Timbrado:</strong></label>
                                                    <div class="field item">
                                                        <input class="form-control" type="text"
                                                            value="{{confi.nro_timbrado}}" id="nro_timbrado"
                                                            readonly="readonly" disabled="disabled">
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label><strong>Fecha Inicio Timbrado:</strong></label>
                                                    <div class="field item">
                                                        <input class="form-control" type="text"
                                                            value="{{confi.fecha_inicio_timbrado}}"
                                                            id="fecha_inicio_timbrado" readonly="readonly"
                                                            disabled="disabled">
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label><strong>Fecha Fin Timbrado:</strong></label>
                                                    <div class="field item">
                                                        <input class="form-control" type="text"
                                                            value="{{confi.fecha_fin_timbrado}}" id="fecha_fin_timbrado"
                                                            readonly="readonly" disabled="disabled">
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label><strong>Ruc Empresa:</strong></label>
                                                    <div class="field item">
                                                        <input class="form-control" type="text"
                                                            value="{{confi.ruc_empresa}}" id="ruc_empresa"
                                                            readonly="readonly" disabled="disabled">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label><strong>Número Factura:</strong></label>

                                                    <div class="field item" >
                                                        <input class="form-control" type="text"
                                                            value="{{factVenta.nro_factura}}"
                                                            readonly="readonly" disabled="disabled">
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label><strong>Cliente:</strong></label>
                                                    <div class="field item">
                                                        <input class="form-control" type="text"
                                                        value="{{factVenta.id_cliente}}"
                                                        readonly="readonly" disabled="disabled">
                                                    </div>

                                                </div>
                                                <fieldset disabled>
                                                    <div class="form-group d-none">
                                                        <label><strong>Total Iva: </strong></label>
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text"
                                                                    style="font-weight: bold;">Gs.</div>
                                                            </div>
                                                            <input type="text" class="form-control" id="totalIva"
                                                                style="font-weight: bold;">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset disabled>
                                                    <div class="form-group">
                                                        <label><strong>Total a pagar: </strong></label>
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text"
                                                                    style="font-weight: bold;">Gs.</div>
                                                            </div>
                                                            <input type="text" class="form-control" id="total"
                                                                style="font-weight: bold;">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tile-footer">                                
                                    <a class="btn btn-secondary" href="{% url 'list_factura_ventas' %}">
                                        <i class="fa fa-fw fa-lg fa-times-circle"></i>Volver</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- validator -->
<script src="{% static 'project_static/other/js/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.js' %}"></script>
<script src="{% static 'project_static/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'project_static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'project_static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'project_static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'project_static/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'project_static/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'project_static/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'project_static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'project_static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'project_static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'project_static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'project_static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
<script src="{% static 'project_static/vendors/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'project_static/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'project_static/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'project_static/other/js/select2/select2.js' %}"></script>
<script src="{% static 'project_static/other/js/sweetalert.min.js' %}"></script>
<script src="{% static 'project_static/other/js/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'project_static/other/js/ventas/forms.js' %}"></script>
<script src="{% static 'project_static/other/js/functions/functions.js' %}"></script>
<script src="{% static 'project_static/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'project_static/vendors/validator/validator.js' %}"></script>

<script>
    var action = '{{ accion|safe }}';

    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);

    $(function () {
        // initialize a validator instance from the "FormValidator" constructor.
        // A "<form>" element is optionally passed as an argument, but is not a must
        var validator = new FormValidator({
            "events": ['blur', 'input', 'change']
        }, document.forms[0]);
        // on form "submit" event
        document.forms[0].onsubmit = function (e) {
            var submit = true,
                validatorResult = validator.checkAll(this);
            return !!validatorResult.valid;
        };
        // on form "reset" event
        document.forms[0].onreset = function (e) {
            validator.reset();
        };
        // stuff related ONLY for this demo page:
        $('.toggleValidationTooltips').change(function () {
            validator.settings.alerts = !this.checked;
            if (this.checked)
                $('form .alert').remove();
        }).prop('checked', false);

        $('form input').on("cut copy paste", function (e) {
            e.preventDefault();
        });

        $('#tblFacturaVenta').DataTable({
            ordering: false,
            searching: false,
            language: {
                decimal: "",
                emptyTable: "No hay información",
                info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                infoEmpty: "Mostrando 0 de 0 Entradas",
                infoFiltered: "(Filtrado de _MAX_ total entradas)",
                infoPostFix: "",
                thousands: ",",
                lengthMenu: "Mostrar _MENU_ Entradas",
                loadingRecords: "Cargando...",
                processing: "Procesando...",
                search: "Buscar:",
                zeroRecords: "Sin resultados encontrados",
                paginate: {
                    first: "Primero",
                    last: "Ultimo",
                    next: "Siguiente",
                    previous: "Anterior",
                },
            },
        });

        var fecha_inicio = $("#fecha_inicio_timbrado").val()
        var fecha_fin = $("#fecha_fin_timbrado").val()
        var nro_tim = $("#nro_timbrado").val()
        var nro_ruc = $("#ruc_empresa").val()


        if (fecha_inicio != "" && fecha_fin != "" && nro_tim != "" && nro_ruc != "") {
            if (!compareDate(fecha_inicio, fecha_fin)) {
                swal({
                    title: "Notificación",
                    text: "La fecha inicio y fin del timbrado ha caducado!",
                    icon: "warning",
                    button: "Ok",
                    confirmButtonColor: '#007bff',
                })
                $('form').find('#button_registrar').addClass('d-none')
            } else {
                $('form').find('#button_registrar').removeClass('d-none')
            }
        }
        else {
            swal({
                title: "Notificación",
                text: "Agregue los datos de la factura en configuraciones iniciales! ",
                icon: "warning",
                button: "Ok",
                confirmButtonColor: '#007bff',
            })
            $("form").find("#button_registrar").addClass("d-none")
        }


        $('#cliente_select').select2({
            placeholder: 'Seleccione un Cliente',
            language: "es",
            language: {
                inputTooShort: function () {
                    return '';
                },
                searching: function () {
                    return 'Buscando...'
                },
                noResults: function () {
                    return 'No se ha encontrado ningún resultado'
                }
            }
        });

        $('#search').select2({
            ajax: {
                type: 'POST',
                url: '/factura/get_producto_servicio_factura/',
                delay: 250,
                data: function (params) {
                    return {
                        term: params.term,
                        action: 'search_products'
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    }
                },
            },
            language: {
                inputTooShort: function () {
                    return '';
                },
                searching: function () {
                    return 'Buscando...'
                },
                noResults: function () {
                    return 'No se ha encontrado ningún resultado'
                }
            }
        })

        factura.items.products = {{ det | safe }};
        factura.list();
    })

    function compareDate(fecha_emision, fecha_vencimiento) {
        var d1 = fecha_emision.split("/");
        var d2 = fecha_vencimiento.split("/");
        var c = new Date();

        var from = new Date(d1[2], parseInt(d1[1]) - 1, d1[0]);  // -1 because months are from 0 to 11
        var to = new Date(d2[2], parseInt(d2[1]) - 1, d2[0]);
        var check = new Date(c.getFullYear(), c.getMonth(), c.getDate());
        if (check >= from && check <= to) {
            return true
        }
        return false
    }

</script>
{% endblock javascripts %}