{% load static %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header no_borders">
            <h5 class="modal-title" id="exampleModalLabel">Baja del Proveedor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'compra:delete_proveedor' proveedor.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-body" style="font-size: 16px; color: #383232c7;">
                Estás seguro/a que deseas dar de baja a este proveedor <strong>{{ proveedor.nombre_proveedor }}</strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-danger">Dar de Baja</button>
            </div>
        </form>
    </div>
</div>