{% extends "base/base.html" %}
{% load static %}

{% block title %} Reporte {% endblock title %}

{% block css %}
{{ block.super }}

<style>

</style>
{% endblock css %}

{% block content %}

<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Servicios vendidos por fecha
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Total de servicios vendidos</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
   <!-- Main content -->
   <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="d-flex">
                  <div>
                    <label>Fecha desde:</label>
                    <input class="form-control" id='fecha_desde' 
                      placeholder='Fecha desde'
                      name='fecha_desde'/>
                  </div>
                  <div class="ml-4">
                    <label>Fecha hasta:</label>
                    <input class="form-control" id='fecha_hasta' 
                      placeholder='Fecha hasta'
                      name='fecha_hasta'/>
                  </div>                                     
              </div>
            </div>        
            <!-- /.card-header -->
            <div class="card-body" id="productos">
                <canvas id="produc"></canvas>
            </div>
            <!-- /.card-body -->
          </div>                    
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>




{% endblock content %}

{% block js_page %}
{{ block.super }}

<script>
    $(function () {
        $('input').on("cut copy paste", function (e) {
            e.preventDefault();
        });

      $('#fecha_desde').datepicker({
          format: "dd/mm/yyyy",
          autoclose: true,
      }).datepicker("setDate", new Date());

      $('#fecha_hasta').datepicker({
          format: "dd/mm/yyyy",
          autoclose: true,
      }).datepicker("setDate", new Date());

      var desde = $("input[name='fecha_desde']").val()
      var hasta = $("input[name='fecha_hasta']").val()

      $("input[name='fecha_desde'], input[name='fecha_hasta']").change(function () {
        var fecha_emision = $("input[name='fecha_desde']").val()

        var fecha_vencimiento = $("input[name='fecha_hasta']").val()
        if (fecha_emision != "" && fecha_vencimiento != "") {
            if(!compareDateReporte(fecha_emision, fecha_vencimiento)){
                Swal.fire({
                    title: "Notificación",
                    text: "La fecha hasta no puede ser menor a la fecha desde",
                    icon: "warning",
                    button: "Ok",
                })
            }else{
              get_produc(fecha_emision, fecha_vencimiento);
            }
        }
    })
              
        var get_produc = function(desde, hasta){          
            $.ajax({
                url: "/reporte/get_servicio_vendido/",
                type: 'GET',
                datatype: 'json',
                data: {'desde': desde, 'hasta': hasta},
                success: function(response) {
                    if(response.mensaje != "NA"){
                        $('#produc').remove(); // this is my <canvas> element
                        $('#productos').append('<canvas id="produc"><canvas>');
                        var ctx = document.getElementById('produc').getContext('2d');
                        new Chart(ctx, {
                            type: 'pie',
                            data: {
                                datasets:[{
                                    data: response.data,
                                    backgroundColor: return_colors(),
                                    label: "",
                                }],
                                labels: response.label,
                            },
                            options: {
                                responsive: true
                            }
                        });
                    }else{
                      if(response.mensaje == "NA"){
                        Swal.fire({
                            title: "Notificación",
                            text: "No hay ninguna información en esos rangos de fechas",
                            icon: "warning",
                            button: "Ok",
                        })
                    }else{
                        Swal.fire({
                            title: "Notificación",
                            text: "ha ocurrido un error, intentelo mas tarde!",
                            icon: "error",
                        })
                    }    
                    }
                },
                error: function(error){
                  Swal.fire({
                    title: "Notificación",
                    text: "ha ocurrido un error, intentelo mas tarde!",
                    icon: "error",
                })
                }
            })
        }
      
        get_produc(desde, hasta);

        $("#searchTerm").change(function(){
            var busqueda = $("#searchTerm").val()
            sessionStorage.setItem("busqueda", busqueda)
        })

        $("#busqueda").click(function(){
            var busqueda = sessionStorage.getItem("busqueda")
            if(busqueda == "" || busqueda == undefined || busqueda == null){
                busqueda = "";
                get_produc(busqueda)
            }
            else{
                get_produc(busqueda)
            }
        }) 
    })


</script>


{% endblock js_page %}