{% extends "base/base.html" %}
{% load static %}

{% block title %} Lista Pedidos {% endblock title %}

{% block css %}
{{ block.super }}

<style>

</style>
{% endblock css %}

{% block content %}
 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Lista de Pedidos
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Pedidos</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
   <!-- Main content -->
   <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">            
            <div class="card-header">
              <div class="float-left">
                <form >
                  <div class="input-group">
                      <input type="search" class="form-control form-control-lg" id="searchTerm"
                      ata-toggle="tooltip" data-placement="top"
                      title="Buscar nº pedido"
                      placeholder="Buscar nº pedido">
                      <div class="input-group-append">
                          <button type="button" id="busqueda" class="btn btn-lg btn-default">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
              </form>                  
              </div>
              {% if perms.compras.add_pedidocabecera  and caja_abierta == 'S'%}  
              <div class="float-right">
                <button type="submit" class="btn btn-primary float-right">
                    <a style="color: white;" href="{%url 'compra:add_pedido_compra' %}">Agregar nuevo pedido</a>
                </button>
              </div>
              {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="list_pedidos" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th >Nº Pedido</th>
                        <th >Fecha Pedido</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>                   
                </tbody>   
              </table>
            </div>
            <!-- /.card-body -->
          </div>                    
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="edicion" role="dialog">

</div>

<div class="modal fade" id="eliminacion" role="dialog">

</div>

{% endblock content %}

{% block js_page %}
{{ block.super }}
<!-- Datatables -->
<script>
 
    $(function () {

        var caja_abierta = '{{ caja_abierta|safe }}';

        $('#searchTerm').on("cut copy paste", function (e) {
            e.preventDefault();
        });

        var get_list = function (busqueda) {
            $("#list_pedidos").DataTable({
                destroy: true,                
                searching: false,
                buttons: [],
                pageLength: 10,
                ajax: {
                    url: "/compra/list_pedido_compra_ajax",
                    type: 'GET',
                    datatype: 'json',
                    data: { 'busqueda': busqueda },
                    error: function (data) {
                        $.fn.DataTable.ext.errorMode = 'none'

                    }
                },
                columns: [
                    {
                        name: 'Nº Pedido',
                        data: 'id',
                    },                            
                    {
                        name: 'Fecha Pedido',
                        data: 'fecha_pedido',
                    },
                    {
                        name: 'Acciones',
                        data: 'id',
                        render: function (data) {
                            {% if perms.compras.change_pedidocabecera and caja_abierta == "S" %}
                            return '<button class="btn btn-warning">\
                                        <a href="/compra/editPedidoCompra/' + data + '/" style="color: black">\
                                            Editar\
                                        </a>\
                                    </button>\
                                    <button class="btn btn-primary">\
                                        <a href="/compra/reporteCompra/' + data + '/" style="color: white" target="blank">\
                                            Generar PDF\
                                        </a>\
                                    </button>';
                            {% endif %}

                            return '-';                                                                            
                        }
                    }

                ],
                columnDefs: [{
                    targets: [2], // column index (start from 0)
                    orderable: false, // set orderable false for selected columns
                }],
                serverSide: false,
                language: {
                    decimal: "",
                    emptyTable: "No hay información",
                    info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    infoEmpty: "Mostrando 0 de 0 Entradas",
                    infoFiltered: "(Filtrado de _MAX_ total entradas)",
                    infoPostFix: "",
                    thousands: ",",
                    lengthMenu: "Mostrar _MENU_ Entradas",
                    loadingRecords: "Cargando...",
                    processing: "Procesando...",
                    search: "Buscar:",
                    zeroRecords: "Sin resultados encontrados",
                    paginate: {
                        first: "Primero",
                        last: "Ultimo",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                },

            })
        }

        var query = ""

        get_list(query);

        $("#searchTerm").change(function () {
            var busqueda = $("#searchTerm").val()
            sessionStorage.setItem("busqueda", busqueda)
        })

        $("#busqueda").click(function () {
            var busqueda = sessionStorage.getItem("busqueda")
            if (busqueda == "" || busqueda == undefined || busqueda == null) {
                busqueda = "";
                get_list(busqueda)
            }
            else {
                get_list(busqueda)
            }
        })
    })

</script>



{% endblock js_page %}"
  