{% extends "base/base.html" %}
{% load static %}

{% block title %} Producto Central {% endblock title %}

{% block css %}
{{ block.super }}

<style>

</style>
{% endblock css %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Producto Central
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item active">Producto Central</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">        
          <!-- /.card-header -->
          <div class="card-body">
            <table id="list_producto_detalle" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Nombre Producto</th>
                  <th>Descripción</th>
                  <th>Stock Actual</th>
                  <th>Deposito</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

            <div class="card-body">
              <h2>Lista de Productos Trasladados</h2> 
            <table id="list_producto_movido" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Nombre Producto</th>
                  <th>Descripción</th>
                  <th>Stock Trasladado</th>
                  <th>Deposito</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

<div class="modal fade" id="creacion" role="dialog"></div>

<div class="modal fade" id="edicion" role="dialog">
</div>

{% endblock content %}

{% block js_page %}
{{ block.super }}
<!-- Datatables -->
<script>
  $(function () {
    $('input').on("cut copy paste", function (e) {
      e.preventDefault();
    });
    var stock_cero = parseInt("{{stck_cero }}")
    var list_producto = {
        detalle: []
    }

    var producto_movido = {
        detalle: {}
    }

    list_producto.detalle = {{ producto_detalle | safe }};
    producto_movido.detalle = {{ producto_movido | safe }};

$('form input').on("cut copy paste", function (e) {
    e.preventDefault();
});

$("#list_producto_detalle").DataTable({
    destroy: true,
    dom: 'Bfrtip',
    buttons: [],
    searching: false,
    data: list_producto.detalle,
    pageLength: 10,
    paging: false,
    bPaginate: false,
    columns: [
        {
            name: 'Codigo',
            data: 'id',
        },
        {
            name: 'Nombre Producto',
            data: 'nombre',
        },
        {
            name: 'Descripción',
            data: 'descripcion',
        },
        {
            name: 'Stock Actual',
            data: 'stock_actual',
        },
        {
            name: 'Deposito',
            data: 'deposito',
        },
        {
            name: 'Acciones',
            data: 'id',
            render: function (data) {
                {% if perms.producto.add_producto %}
                    if(stock_cero != 0){
                        return '<button class="btn btn-warning" onclick="abrir_modal_edicion(\'/producto/mover/' + data + '/\');">\
                        Mover\
                            </button>';
                    }
                {% endif %}

                return "-";
                
            }
        }

    ],
    columnDefs: [{
        targets: [2, 5], // column index (start from 0)
        orderable: false, // set orderable false for selected columns
    }],
    serverSide: false,
    language: {
        decimal: "",
        emptyTable: "No hay información",
        info: "",
        infoEmpty: "",
        infoFiltered: "(Filtrado de _MAX_ total entradas)",
        infoPostFix: "",
        thousands: ",",
        lengthMenu: "Mostrar _MENU_ Entradas",
        loadingRecords: "Cargando...",
        processing: "Procesando...",
        search: "Buscar:",
        zeroRecords: "Sin resultados encontrados",
        paginate: {
            first: "Primero",
            last: "Ultimo",
            next: "Siguiente",
            previous: "Anterior",
        },
    },        
  })


  $("#list_producto_movido").DataTable({        
    destroy: true,
    dom: 'Bfrtip',
    buttons: [],
    searching: false,
    data: producto_movido.detalle,
    pageLength: 10,        
    columns: [
        {
            name: 'Codigo',
            data: 'codigo',
        },
        {
            name: 'Nombre Producto',
            data: 'nombre',
        },
        {
            name: 'Descripción',
            data: 'descripcion',
        },
        {
            name: 'Stock Trasladado',
            data: 'stock_movido',
        },
        {
            name: 'Deposito',
            data: 'deposito',
        },
        {
            name: 'Acciones',
            data: 'id',
            render: function (data) {
                {% if perms.producto.add_producto %}
                    return '<button class="btn btn-warning">\
                                                    <a href="/producto/moverGeneral/' + data + '/" style="color: black">\
                                                        Mover al Central\
                                                    </a>\
                                                </button>';
                {% endif %}

                return "-";
                
            }
        }

    ],
    columnDefs: [{
        targets: [2, 4], // column index (start from 0)
        orderable: false, // set orderable false for selected columns
    }],
    serverSide: false,
    language: {
        decimal: "",
        emptyTable: "No hay información",
        info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        infoEmpty: "Mostrando 0 de 0 Entradas",
        infoFiltered: "(Filtrado de _MAX_ total entradas)",
        infoPostFix: "",
        thousands: ",",
        lengthMenu: "Mostrar _MENU_ Entradas",
        loadingRecords: "Cargando...",
        processing: "Procesando...",
        search: "Buscar:",
        zeroRecords: "Sin resultados encontrados",
        paginate: {
            first: "Primero",
            last: "Ultimo",
            next: "Siguiente",
            previous: "Anterior",
        },
    },
  });

    {% if messages %}
      {% for message in messages %}
        var text = "{{ message }}";
        add_edit_registro(text);
      {% endfor %}
    {% endif %}
  })
</script>
{% endblock js_page %}