{% extends "base/base.html" %}
{% load static %}

{% block title %} Agregar Pedido {% endblock title %}

{% block css %}
{{ block.super }}

<style>

</style>
{% endblock css %}

{% block content %}
<div class="right_col" role="main">
    <div class="" style="margin: 1rem">
        <div class="page-title">
            <div class="title_left">
                <h3>Agregar Factura Compra</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel" >
                    <div class="x_title">
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="tile mb-4">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="card">
                                            <h6 class="card-header">Detalle Factura</h6>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label> <strong> Buscar Producto:</strong> </label>
                                                        <span class="input-group-append">
                                                            <select class="form-control" id="search">
                                                                <option>Buscar productos</option>
                                                            </select>
                                                        </span>                                                    
                                                </div>
                                                <div class="table-responsive">
                                                    <button type="button"
                                                        class="mb-2 py-0 btn btn-danger btn-sm btnRemoveAll"
                                                        style="height: 20px; align-content: center">
                                                        <label>Eliminar todo</label>
                                                    </button>
                                                    <table class="table table-bordered" id="tblFactura"
                                                        style="width: 100%;">
                                                        <thead>
                                                            <tr>
                                                                <td>Cod</td>
                                                                <td>Nombre Producto</td>
                                                                <td>Descripción</td>
                                                                <td>Precio</td>
                                                                <td>Cantidad</td>
                                                                <td>SubTotal</td>
                                                                <td>Eliminar</td>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card">
                                            <h6 class="card-header">Factura</h6>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label><strong>Timbrado<span
                                                        class="required" style="color: red;" data-toggle="tooltip" data-placement="top"
                                                        title="Campo Obligatorio">*</span></strong></label>
                                                    <div class="field item"> 
                                                        {{ form.nro_timbrado }}
                                                    </div>
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label><strong>Número Factura<span
                                                        class="required" style="color: red;" data-toggle="tooltip" data-placement="top"
                                                        title="Campo Obligatorio">*</span></strong></label>

                                                    <div class="field item"> 
                                                        {{ form.nro_factura }}
                                                    </div>
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label><strong>Proveedor<span
                                                        class="required" style="color: red;" data-toggle="tooltip" data-placement="top"
                                                        title="Campo Obligatorio">*</span></strong></label>
                                                    <div class="field item"> 
                                                        {{ form.id_proveedor }}
                                                    </div>
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label><strong>Fecha Emisión<span
                                                        class="required" style="color: red;" data-toggle="tooltip" data-placement="top"
                                                        title="Campo Obligatorio">*</span></strong></label>

                                                    <div class="field item"> 
                                                        {{ form.fecha_emision_factura }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label><strong>Fecha Inicio Timbrado<span
                                                        class="required" style="color: red;" data-toggle="tooltip" data-placement="top"
                                                        title="Campo Obligatorio">*</span></strong></label>

                                                    <div class="field item" id="fecha_inicio"> 
                                                        {{ form.fecha_emision }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label><strong>Fecha Fin Timbrado<span
                                                        class="required" style="color: red;" data-toggle="tooltip" data-placement="top"
                                                        title="Campo Obligatorio">*</span></strong></label>

                                                    <div class="field item"  id="fecha_fin"> 
                                                        {{ form.fecha_vencimiento }}
                                                    </div>
                                                </div>
                                                <fieldset disabled>
                                                    <div class="form-group d-none">
                                                        <label><strong>Total Iva </strong></label>
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text"
                                                                    style="font-weight: bold;">Gs.</div>
                                                            </div>
                                                            <input type="text" class="form-control" id="totalIva"
                                                                style="font-weight: bold;">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset disabled>
                                                    <div class="form-group">
                                                        <label><strong>Total a pagar </strong></label>
                                                        <!--<label><strong>Total a pagar IVA incluído: </strong></label>-->                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text"
                                                                    style="font-weight: bold;">Gs.</div>
                                                            </div>
                                                            <input type="text" class="form-control" id="total"
                                                                style="font-weight: bold;">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tile-footer">
                                    
                                    {% if caja_abierta == "S"  %}
                                        <button type="submit" class="btn btn-primary" id="button_factura" style="color: white"><i
                                            class="fa fa-fw fa-lg fa-check-circle"></i>Agregar Factura
                                        </button>
                                    {% endif %}                                      
                                    &nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-secondary" href="{% url 'compra:list_factura_compra' %}">
                                        <i class="fa fa-fw fa-lg fa-times-circle"></i>Volver</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js_page %}
{{ block.super }}
<script src="{% static 'base/js/compras/form_add_factura.js' %}"></script>
<!-- Datatables -->
<script>
    var action = '{{ accion|safe }}';
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);

    $(function () {
                // initialize a validator instance from the "FormValidator" constructor.
        // A "<form>" element is optionally passed as an argument, but is not a must
      
        // on form "submit" event
  
        // stuff related ONLY for this demo page:
       
        $('form input').on("cut copy paste", function (e) {
            e.preventDefault();
        });
        $('#total').val(0);
        $('#totalIva').val(0);

        $('#tblFactura').DataTable({
            ordering: false,
            language: {
                decimal: "",
                emptyTable: "No hay información",
                info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                infoEmpty: "Mostrando 0 de 0 Entradas",
                infoFiltered: "(Filtrado de _MAX_ total entradas)",
                infoPostFix: "",
                thousands: ",",
                lengthMenu: "Mostrar _MENU_ Entradas",
                loadingRecords: "Cargando...",
                processing: "Procesando...",
                search: "Buscar:",
                zeroRecords: "Sin resultados encontrados",
                paginate: {
                    first: "Primero",
                    last: "Ultimo",
                    next: "Siguiente",
                    previous: "Anterior",
                },
            },
        });

        $('#datePick-emision-factura').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
        }).datepicker("setDate", new Date());;

        $('#datePick-emision').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true,
        });

        $('#datePick-vencimiento').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true,
        });

        $('#proveedor_select').select2({
            placeholder: 'Seleccione un Proveedor',
            language: {
                inputTooShort: function () {
                    return '';
                },
                searching: function () {
                    return 'Buscando...'
                },
                noResults: function(){
                    return 'No se ha encontrado ningún resultado'
                }
            }
        });
        $('#search').select2({
            ajax: {
                type: 'POST',
                url: '/compra/get_pedido_factura/',
                delay: 250,
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin', // Do not send CSRF token to another domain.,
                data: function (params) {
                    return {
                        term: params.term,
                        action: 'search_products'
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    }
                },
            },
            language: {
                inputTooShort: function () {
                    return '';
                },
                searching: function () {
                    return 'Buscando...'
                },
                noResults: function(){
                    return 'No se ha encontrado ningún resultado'
                }
            }
        })
        $("input[name='fecha_emision'], input[name='fecha_vencimiento']").change(function () {
            var fecha_emision = $("input[name='fecha_emision']").val()

            var fecha_vencimiento = $("input[name='fecha_vencimiento']").val()
            if (fecha_emision != "" && fecha_vencimiento != "") {
                if(!compareDate(fecha_emision, fecha_vencimiento)){
                    Swal.fire({
                        title: "Notificación",
                        text: "El nº de timbrado ha caducado!",
                        icon: "warning",
                        button: "Ok",
                    })
                    $('form').find('#button_factura').addClass('d-none')
                }else{
                    $('form').find('#button_factura').removeClass('d-none')
                }
            }
        })

        $("input[name='fecha_emision'], input[name='fecha_vencimiento']").change(function () {
            var fecha_emision = $("input[name='fecha_emision']").val()

            var fecha_vencimiento = $("input[name='fecha_vencimiento']").val()

            if(fecha_emision != ""){
                $('form .alert').remove();
                $('form').find("#fecha_inicio").removeClass('bad')
            }

            if(fecha_vencimiento != ""){
                $('form .alert').remove();
                $('form').find("#fecha_fin").removeClass('bad')
            }
        })

        var compareDate = function(fecha_emision, fecha_vencimiento){
            var d1 = fecha_emision.split("/");
            var d2 = fecha_vencimiento.split("/");
            var c = new Date();

            var from = new Date(d1[2], parseInt(d1[1])-1, d1[0]);  // -1 because months are from 0 to 11
            var to   = new Date(d2[2], parseInt(d2[1])-1, d2[0]);
            var check = new Date(c.getFullYear(), c.getMonth(), c.getDate());
            if(check >= from && check <= to){
                return true
            }
            return false
        }
    })

</script>


{% endblock js_page %}"
  