{% extends "base/base.html" %}
{% load static %}

{% block title %} Lista Facturas {% endblock title %}

{% block css %}
{{ block.super }}

<style>

</style>
{% endblock css %}

{% block content %}
 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Lista de Facturas
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Facturas</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
   <!-- Main content -->
   <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">            
            <div class="card-header">
              <div class="float-left">
                <form >
                  <div class="input-group">
                      <input type="search" class="form-control form-control-lg" id="searchTerm"
                      ata-toggle="tooltip" data-placement="top"
                      title="Buscar por nº de factura, nombre del proveedor o ruc"
                      placeholder="Buscar">
                      <div class="input-group-append">
                          <button type="button" id="busqueda" class="btn btn-lg btn-default">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
              </form>                  
              </div>
              {% if perms.compras.add_facturacompra and caja_abierta == 'S' %}  
              <div class="float-right">
                <button type="submit" class="btn btn-primary float-right">
                    <a href="{% url 'compra:add_factura_compra' %}" style="color: white;">Agregar nueva factura</a>
                </button>
              {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="list_factura" class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th >Nº Factura</th>
                        <th >Proveedor</th>
                        <th >Importe Total</th>
                        <th >Acción</th>                                                               
                    </tr>
                </thead>
                <tbody>                   
                </tbody>   
              </table>
            </div>
            <!-- /.card-body -->
          </div>                    
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="edicion" role="dialog">

</div>

<div class="modal fade" id="eliminacion" role="dialog">

</div>

{% endblock content %}

{% block js_page %}
{{ block.super }}
<!-- Datatables -->
<script>
    $(function () {
        $('#searchTerm').on("cut copy paste", function (e) {
            e.preventDefault();
        });

        var caja_abierta = '{{ caja_abierta|safe }}';

        var get_list = function (busqueda) {
            $("#list_factura").DataTable({
                destroy: true,
                dom: 'Bfrtip',
                buttons: [],
                searching: false,
                pageLength: 10,
                ajax: {
                    url: "/compra/get_list_facturas/",
                    type: 'GET',
                    datatype: 'json',
                    data: {'busqueda': busqueda},
                    error: function (data) {
                        $.fn.DataTable.ext.errorMode = 'none'
                    }
                },
                columns: [                                  
                    {
                        name: 'Nº Factura',
                        data: 'nro_factura',
                        render: function(data){
                            if(data == null){
                                return '-';
                            }
                            return data;
                        }
                    },
                    {
                        name: 'Proveedor',
                        data: 'proveedor',                        
                    },
                    {
                        name: 'Importe Total',
                        data: 'im_total',
                        render: function(data){
                            return ' Gs.'  + add_miles(data)
                        }
                    },
                    {
                        name: 'Acción',
                        data: 'id',
                        render: function (data) {
                            {% if perms.compras.change_facturacompra and caja_abierta == "S" %}
                            return '<button class="btn btn-warning">\
                                                        <a href="/compra/editFacturaCompra/' + data + '/" style="color: black">\
                                                            Editar\
                                                        </a>\
                                                    </button>';
                            {% endif %}
                            return "-";
                        }
                    }

                ],
                columnDefs: [{
                    targets: [3], // column index (start from 0)
                    orderable: false, // set orderable false for selected columns
                }],
                serverSide: false,
                language: {                    
                    decimal: "",
                    emptyTable: "No hay información",
                    info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    infoEmpty: "Mostrando 0 de 0 Entradas",
                    infoFiltered: "(Filtrado de _MAX_ total entradas)",
                    infoPostFix: "",
                    thousands: ",",
                    lengthMenu: "Mostrar _MENU_ Entradas",
                    loadingRecords: "Cargando...",
                    processing: "Procesando...",
                    search: "Buscar:",
                    zeroRecords: "Sin resultados encontrados",
                    paginate: {
                        first: "Primero",
                        last: "Ultimo",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                },

            })
        }

        var query = ""
        
        get_list(query);

        $("#searchTerm").change(function(){
            var busqueda = $("#searchTerm").val()
            sessionStorage.setItem("busqueda", busqueda)
        })

        $("#busqueda").click(function(){
            var busqueda = sessionStorage.getItem("busqueda")
            if(busqueda == "" || busqueda == undefined || busqueda == null){
                busqueda = "";
                get_list(busqueda)
            }
            else{
                get_list(busqueda)
            }
        }) 
    })

</script>
{% endblock js_page %}"
  